<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="app" class="container d-flex justify-content-center mt-4">
        <div class="col-md-8">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Asistencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="total-row" v-for="(data, index) in personas" :key="index" 
                        :class="{'si': data.estado === 0, 'no': data.estado === 1, 'ex': data.estado === 2}">
                        <td>{{ index + 1 }}</td>
                        <td>{{ data.nombre }}</td>
                        <td>{{ data.apellido }}</td>
                        <td>
                            <input type="radio" :name="'asistencia-' + index" :value="0" v-model="data.estado" @change="contador"> Sí
                            <input type="radio" :name="'asistencia-' + index" :value="1" v-model="data.estado" @change="contador"> No
                            <input type="radio" :name="'asistencia-' + index" :value="2" v-model="data.estado" @change="contador"> Ex
                        </td>                    
                    </tr>
                    <tr class="total-row">
                        <td colspan="2">Total asistieron: {{ asistido.si }}</td>
                        <td>Total no asistieron: {{ asistido.no }}</td>
                        <td>Total con excusa: {{ asistido.ex }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <h1>Realizado por</h1>
        <p>Jorge Tirado Cacua y Geraldine Arrieta Machado</p>
    </footer>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    personas: [
                    { nombre: 'Luis', apellido: 'Martínez', estado: -1 },
                    { nombre: 'María', apellido: 'López', estado: -1 },
                    { nombre: 'Pedro', apellido: 'Hernández', estado: -1 },
                    { nombre: 'Sofía', apellido: 'Ramírez', estado: -1 },
                    { nombre: 'Diego', apellido: 'Torres', estado: -1 },
                    { nombre: 'Camila', apellido: 'González', estado: -1 }
                    ],
                    asistido: { si: 0, no: 0, ex: 0 },
                };
            },
            methods: {
                contador() {
                    this.asistido.si = this.personas.filter(p => p.estado == 0).length;
                    this.asistido.no = this.personas.filter(p => p.estado == 1).length;
                    this.asistido.ex = this.personas.filter(p => p.estado == 2).length;
                }
            }
        }).mount("#app");
    </script>
</body>
</html>
